.img-user{
    border-radius: 50%;
    height: 200px;
    
}

.about-me
{
    font-size="20px"
}

.ico-social-container{
  background-color:"skyblue"; 
  padding:5px;
  border-radius:50%;
  box-shadow:0px 3px 5px #000;
  display:block;
  height:40px;
  width:40px;
  
}
.ico-social{
  height:30px;
  width:30px;
  
}
